aiofiles
aiohttp
apscheduler
youtube-search
beautifulsoup4
cloudscraper
dnspython
emojis
Faker
ffmpeg-python
gitpython
gpytranslate
groq
gtts
h2
hachoir
heroku3
httpx
img2pdf
instaloader
kurigram
motor
ntgcalls
numpy
openai
opencv-python
pillow
psutil
pickledb
pymongo
pycountry
pycryptodome
pydub
pyfiglet
python-dotenv
python-whois
py-yt-search
pyshorteners
pyttsx3
pytz
py-tgcalls>=2.2.0
pyyaml
qrcode
rapidfuzz
requests
search-engine-parser
speedtest-cli
SpeechRecognition
spotipy
stripe==10.7.0
telegraph
tgcrypto>=1.2.5
unidecode
wget
telethon
yt-dlp>=2026.06.09
youtube-search-python


